<p id="notice"><%= notice %></p>

<%= image_tag @restaurant.image_url %>
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.website %>
</p>

<!-- Adding Google Map  -->
<iframe
      width="230"
      height="230"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7vfPThjYYWoEQFmkGnqVR9kHHRsTZAA0
        &q=<%= @restaurant.name.parameterize %>&zoom=14">
    </iframe>
</iframe>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link" %>
